.add-your-own-button {
  float: right;
  margin-right: -8px;
  border-color: #633c1e;
  color: #633c1e;
}
.add-your-own-button:focus,
.add-your-own-button:hover {
  background-color: #fcf5e3;
  border-color: #633c1e;
}
.add-your-own-button:active,
.add-your-own-button:active:focus,
.add-your-own-button:active:hover {
  background-color: #633c1e;
  border-color: #633c1e;
  color: white;
}

.table-striped {
  width: 100%;
}
.table-striped .btn-link {
  float: right;
}

@media screen and (max-width:767px) {
  .row-text {
    font-size: 18px;
  }
}
