.add-your-own-button {
  float: right;
  margin-right: -8px;
}

.input-group {
  display: block;
  width: 222px;
  margin-left: auto;
  margin-right: auto;
}

.table-striped {
  width: 100%;
}
.table-striped .btn-link {
  float: right;
}

#allButton {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#physicsButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width:767px) {
  .row-text {
    font-size: 18px;
  }
}
